@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.pexel-logo{
    height: auto;
    width: 6%;
    object-fit: contain;
    display: flex;
    margin-left: 20px;
    
}
.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px rgba(0, 0, 0, 0.104) solid; 
    
}
.navbar-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-box{    
    display: flex;
    border: none;
    border-radius: 10px;
    margin-left: 40px;
    width: 60%;
    height: 50px;
    background: #ececec;
    padding: 5px;
}
.input-box select:hover{
    background: rgba(0, 0, 0, 0.064);
}
.input-box input {
    width: 90%;
    height: 100%;
    padding-left: 15px;
    outline: none;
    border: none;
    background: transparent;
}

.input-box select {
    border-radius: 10px;
    padding: 0px 30px;
    background: #ffff;
    border: none;
    outline: none;
    font-size: medium;
}
.nav-container{
    display: flex;
    width: 400px;
    justify-content: center;
    justify-content: space-around;
    font-size: 15px;
}

.challenge-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}
.join-button{
    height: 30px;
    padding: 25px; 
    align-tracks: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: medium;
}
.challenges-button{
    height: 30px;
    padding: 25px; 
    align-tracks: center;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: medium;
}
a{
    padding: 30px;
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 130%;
    border-radius: 50px;
}
#dots{
    color: black;
    font-size: 15px;
    margin: 10px;
   padding: 7px;
   border-radius: 50%;
   align-items: center;
   justify-content: center;
}
#dots:hover{
    background: rgba(0, 0, 0, 0.064);
}
#searchicon{
    display: flex;
    font-size: 15px;
    margin: 1px 1px 0px 0px;
    padding: 15px;
   border-radius: 7px;
   align-items: center;
   justify-content: center;
   color: black;
}
#searchicon:hover{
    background: rgba(0, 0, 0, 0.064);

}
button{
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
    align-tracks: center;
}
a{
    padding: 10px;
}
a:hover{
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.064);
    
}
.challenges{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 60px;
   }
.span-1{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 8px;
}
.box1{
    display: flex;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5)url(pic1.jpg);
    background-blend-mode: darken;
    background-position: relative;
    background-size: cover;
    height: 500px;
    width: 95%;
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 30px;
}
.info{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 130px 0px 0px 30px;
}
.span-2{
    margin-top: 30px;
}
.span-3,.span-4{
    padding: 2px;
}
.buttons1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 35px;
}
.iOS{
    background-color: white;
    color: black;
    width: 80px;
    border-radius: 8px;
    font-size: 17px;
    padding: 14px;
}
i{
    font-size: 23px;
   padding-right: 5px;
}
.Android{
    background-color: white;
    color: black;
    width: 130px;
    border-radius: 8px;
    font-size: 17px;
    padding: 14px;
}
.boxes{
    height: 150vh;
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
}
.top-box{
    height: 50%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pic1{
    height: 100%;
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #0bb70d;
}
.chromepic{
    margin-top: 50px;
    width: 40%;
}
.figma{
    margin-top: 20px;
    width: 30%;
}
.sketch{
    margin-top: 20px;
    width: 30%;
}
.googleslides{
    margin-top: 35px;
    width: 25%;
}
.h-2,.h-3,.h-4,.h-5,.h-6{
    margin-top: 30px;
}
.span-5,.span-7,.span-9,.span-10{
    margin-top: 40px;

}
.span-6,.span-8,.span-11{
    margin-top: 5px;
}
.learnmore{
    background-color: white;
    color: black;
    padding: 15px;
    width: 20%;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.learnmore:hover{
border: 1px black solid;
}
.pic2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    color: white;
    border-radius: 30px;
    background-color:#006cff;
}
.bottom-box{
    height: 50%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pic3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    margin-top: 20px;
    color: white;
    background-color:#ff8d07;
}
.pic4{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    margin-top: 20px;
    color: white;
    background-color:#a259ff;
}
.border{
    margin-top: 70px;
    height: 200vh;
    border: 1px rgba(0, 0, 0, 0.041) solid;
}
.last-box{

    background-color:#094f49 ;
    height: 500px;
    width: 95%;
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 30px;
}
.info-2{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ms-office{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 20%;
}
.span-12{
    margin-top: 30px;
}
.learnmore1{
    background-color: white;
    color: black;
    padding: 15px;
    width: 10%;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.h-6{
    margin-left: 20px;
    margin-top: 50px;
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;}
.getintouch{
    background-color: black;
    color: white;
    padding: 15px;
    width: 10%;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.getintouch:hover{
    background-color: rgba(0, 0, 0, 0.177);
}
.h-7{
    font-size: 20px;
    margin-top: 60px;
}






.left-bottom{
    width: 30%;
    height: 500px;
}
.h-5{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 20px;
}
.bottom-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;
   
}
.ios{
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.158);
}
.ios:hover{
    background-color:  rgba(0, 0, 0, 0.152);
}
.android{
    width: 35%;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.158);
}
.android:hover{
    background-color:  rgba(0, 0, 0, 0.152);

}
.icons{
    margin-top: 50px;
    display: flex;
    gap :20px;
    margin-left: 15px;
}
.bottom{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.right-bottom{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 70%;
    text-decoration: none;
    margin-top: 40px;
}

li{
    list-style-type: none;
   font-size: 20px;
   margin-top: 15px;
}
.first-line{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;

}
.sec-line,.third-line{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 200px;
    padding: 10px;
    width: 500px;
}
.div-box div{
    border-radius: 5px;
    padding: 6px;
   

}
.one{
    height: 20px;
    width: 220px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.two{
    height: 20px;
    width: 170px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.three{
    height: 20px;
    width: 160px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.four{
    height: 20px;
    width: 180px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.five{
    height: 20px;
    width: 120px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.six{
    height: 20px;
    width: 140px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.seven{
    height: 20px;
    width: 130px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.eight{
    height: 20px;
    width: 150px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.direction{
    display: flex;
    flex-direction: row;
    border: transparent;
}
.nine{
    height: 20px;
    width: 140px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 3px; 
}
.ten{
    height: 20px;
    width: 90px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-left: 8px;
    margin-top: 3px; 
}
.eleven{
    height: 20px;
    width: 150px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 10px; 
}
.direction2{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border-color: none;
    border: transparent;
}
.twelve{
    height: 20px;
    width: 110px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-top: 3px; 
}
.thirteen{
    height: 20px;
    width: 150px;
    border: 1px rgba(0, 0, 0, 0.104) solid;    margin-left: 8px;
    margin-top: 3px; 
}
.footer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    height: 90px;
}
.footer-a{
    color: black;
    text-decoration: none;
    border: none;
    background-color: transparent;

}
.span-13{
    margin-top: 10px;
}
.footer-a:hover{
    text-decoration: none;
    background-color: none;
}
.option{
    font-weight: 5px;
    width: 50%;
    height: 10%;
    margin-top: 15px;
    text-decoration: none;
}
.english{
    height: 20px;
    width: 60px;
    background-color: white;
    color: black;
    padding: 5px;
    margin-top: 15px;

    align-items: center;
}